#items-index.row
  = form_tag researches_path, class: "navbar-search pull-left", id: 'post_search', method: :get do |f|
    = search_field_tag :q, params[:q], placeholder: "Search Research in Progress", class: "search-query pull-left"
    = submit_tag "Search", { class: "btn" }
  .btn.pull-right
    = link_to 'Submit Your Research', new_research_path
  %ul.thread-type.btn-group
    %li.btn{class: current_page?(action: 'index', followed: nil) && !current_page?(action: 'index', followed: 'true') && 'active'}
      = link_to 'Latest', collection_url
    - if user_signed_in?
      %li.btn{class: current_page?(action: 'index', followed: 'true') && 'active'}
        = link_to 'Followed Research', collection_url(followed: true)
  %ul.items
    - collection.each do |post|
      %li
        .item-image.pull-left
        .item-content
          .item-header
            = post.header
          .item-title
            = link_to post.title, post_path(post)
          .item-comments
            %p 
              = post.comments_size
          %p.bullet &bull; 
          .item-created
            %p
              = post.created_ago
