= simple_form_for resource do |f|
  %label= t('simple_form.labels.research.tag_list')
  #tag-list.tag-list
    .tags
  = f.input :tag_list
  = f.input :title
  = f.input :details
  = f.simple_fields_for :uploads do |upload|
    = render 'upload_fields', f: upload
  .links
    = link_to_add_association 'add upload', f, :uploads
  = f.input :item_related, as: :radio_buttons
  = f.collection_radio_buttons :private, post_private_radio_options, :first, :last
  #items
    = f.simple_fields_for :items do |item|
      = render 'item_fields', :f => item 
    .links
      = link_to_add_association 'add item URL', f, :items
  = f.submit 'Submit Research'

:coffeescript
  $(->
    $('.research_tag_list').hide()

    $('#tag-list').tags
      promptText: 'For each tag, type in a name and press enter.'

    $('#tag-list').on 'keypress', (e) ->
      if (e.keyCode is 13)
        tags = $('#tag-list').tags().getTags()
        $('#research_tag_list').val(tags.join(','))    
        false
  )
