.content
  #item-show.span8.pull-left
    .show-intro
      .item-image.pull-left
      .item-created.pull-left
        = "#{resource.created_ago}, #{resource.header}"
    .item-title
      = resource.title
    .item-details
      %p
        = resource.details
    .item-tags    
      = "tags: #{resource.tag_list}"
    .item-uploads
      - resource.uploads.each do |u|
        = u[:content]
  #side-box.span4.pull-right
    %h3 This post is related to
    %ul
      - resource.items.each do |item|
        %li
          .image.pull-left
            = image_tag item.thumbnail
          .caption.pull-left
            %p
              = link_to item.name, "#{WWQI_SITE}#{item.url}", :target => '_blank'
  = render 'partials/comments', resource: resource 
