.comment-box
  -if user_signed_in?
    .item-image.pull-left
      = image_tag avatar_url(current_user)
    .item-content.pull-left
      - binding.pry
      - edit_comment_path_arg = parent.class.lookup_ancestors.last == 'Post' ? post_comment_path(params[:post_id], @comment) : contribution_comment_path(params[:contribution_id], @comment)
      = simple_form_for @comment, url: edit_comment_path_arg do |f|
        = f.input :details, input_html: { class: "wysihtml5" }
        = f.submit
  - else
    .black-box
      %p To comment on this post, please #{link_to('sign in', root_path(anchor: 'sign-in'))}.
