- klass_name = resource.model.class.to_s.downcase
.comments.span12
  - resource.comments.each do |c|
    .comment
      %a{href: "#c#{c.id}"}
      .item-image.pull-left
        = image_tag avatar_url(c.user)
      .item-content.pull-left
        .item-created.full-width
          = "#{c.header} #{c.created_ago}"
        .item-details
          = link_to "Edit", edit_post_comment_path(resource, c)
          .wysiwyg      
            != c.details
        .item-bottom
        - unless c.items.empty?
          %ul.thumbnails
            - c.items.each do |i|
              %li.span3
                .thumbnail
                  = image_tag i.thumbnail, size: "150x150", "data-src" => "holder.js/150x150"
                  %p.text-center= i.name
.comment-box.span12
  - if user_signed_in?
    .item-image.pull-left
      = image_tag avatar_url(current_user)
    .item-content.pull-left
      = simple_form_for Comment.new, url: post_comments_path(resource) do |f|
        = f.input :details, label: t("#{klass_name}.comment_label"), input_html: { class: 'wysihtml5' }
        = f.submit t("#{klass_name}.submit"), { class: "btn pull-right" }
  - else
    .black-box
      %p You have to sign in to comment. Sign in #{link_to 'here', new_user_session_path}
