- klass_name = resource.model.class.to_s.downcase

.comments.span12
  - resource.comments.each do |c|
    .comment
      %a{href: "#c#{c.id}"}
      .item-image.pull-left
        =image_tag avatar_url(c.user)
      .item-content.pull-left
        .item-created.full-width
          = "#{c.header} #{c.created_ago}"
        .item-details
          .wysiwyg
            != c.details
.comment-box.span12
  - if user_signed_in?
    .item-image.pull-left
      = image_tag avatar_url(current_user)
    .item-content.pull-left
      = simple_form_for Comment.new, url: post_comments_path(resource) do |f|
        = f.input :details, label: t("#{klass_name}.comment_label"), input_html: { class: 'wysihtml5' }
        = f.submit t("#{klass_name}.submit"), { class: "btn pull-right" }
  - else
    .black-box
      %p You have to sign in to comment. Sign in #{link_to 'here', new_user_session_path}.
