.nested-fields.row-fluid
  .item-group
    .item-image.pull-left
      = image_tag 'flag.png'
    = f.input :search, label: false, placeholder: 'e.g. tin or 2882', input_html: { style: 'width:20em', style: 'margin-right:0.5em' }
    = f.input :url, :as => :hidden
    = f.input :thumbnail, :as => :hidden
    = f.input :accession_no, :as => :hidden
    = f.input :name, :as => :hidden
  .links-remove
    = link_to_remove_association '', f, class: 'icon-minus-circle'
