#registration
  .sign-in-header.english
    %h2 Sign Up
    %p Start using the research platform today.
  .sign-in-header.farsi
    %h2 ثبت نام
    %p اگر بار اولی است که وارد این پژوهشگاه می‌شوید، از اینجا شروع کنید.
    %span لطفا توجه کنید که نام و نام خانوادگی باید به حروف لاتین باشد. برای رمز ورود می توانید از حروف و اعداد لاتین استفاده کنید.
  .horiz-line
  = simple_form_for resource, url: user_registration_path, remote: true do |f|
    = f.input :first_name, input_html: { class: 'text-input'}
    = f.input :last_name, input_html: { class: 'text-input'}
    = f.input :email, input_html: { id: "sign_up_user_email", class: "text-input" }
    = f.input :password, input_html: { id: "sign_up_user_password", class: "text-input" }
    = f.input :password_confirmation, input_html: { class: "text-input" }
    = f.input :token, as: :hidden, label: false, input_html: { value: "#{params[:token]}"}
    .terms
      #legal_terms
        %a{href: 'javascript:void(0)'}
          %span Please read and accept the terms and conditions.
        %span.icon-right-open-mini
      #legal_terms_farsi
        %a{href: 'javascript:void(0)'}
          %span لطفأ مقررات کاربری را مطالعه کرده و موافقت خود را اعلام کنید
        %span.icon-right-open-mini
      = render 'partials/terms_dialog'
      .checkbox
        = f.check_box :terms
        = f.label :terms do
          I accept / می پذیرم
          %span
        - if resource.errors[:terms].any?
          %span.error= resource.errors[:terms].to_sentence
    = f.button :submit, 'Sign Up', { class: 'btn' }
  .horiz-line-thick.hidden-desktop.hidden-tablet
