= simple_form_for resource, url: user_registration_path do |f|
  %h2 Sign Up
  %p Start using the research platform today.
  = f.input :first_name, wrapper_html: { class: "name" }
  = f.input :last_name, wrapper_html: { class: "name" }
  = f.input :email, input_html: { id: "sign_up_user_email", class: "text-input" }
  = f.input :password, input_html: { id: "sign_up_user_password", class: "text-input" }
  = f.input :password_confirmation, input_html: { class: "text-input" }
  .horiz-line
  .terms
    %a#legal_terms{href: "#"} Please read and accept the terms and conditions.
    %span.icon-chevron-right
    = render "partials/terms_dialog"
    .checkbox
      = f.input :terms, as: :boolean, label: "I accept"
  .horiz-line
  = f.button :submit, "Sign Up", { class: "btn" }
