#registration
  .sign-in-header
    %h2= t('sign_up')
    %p= t('sign_up_message')
    .horiz-line
  = simple_form_for resource, url: user_registration_path, remote: true do |f|
    = f.input :first_name, input_html: { class: 'text-input'}
    = f.input :last_name, input_html: { class: 'text-input'}
    = f.input :email, input_html: { id: "sign_up_user_email", class: "text-input" }
    = f.input :password, input_html: { id: "sign_up_user_password", class: "text-input" }
    = f.input :password_confirmation, input_html: { class: "text-input" }
    = f.input :token, as: :hidden, label: false, input_html: { value: "#{params[:token]}"}
    .terms
      #legal_terms
        %a{href: 'javascript:void(0)'}
          %span Please read and accept the terms and conditions.
        %span.icon-right-open-mini
      #legal_terms_farsi
        %a{href: 'javascript:void(0)'}
          %span برای استفاده از امکانات پژوهشگاه، بار اول میدانهای سمت چپ را کامل کرده، رمز عبور خود را ایجاد کنید. از آن پس، با استفاده از رمز ورود وارد پژوهشگاه شوید:
        %span.icon-right-open-mini
      = render 'partials/terms_dialog'
      .checkbox
        = f.check_box :terms
        = f.label :terms do
          =t 'terms'
          %span
        - if resource.errors[:terms].any?
          %span.error= resource.errors[:terms].to_sentence
    = f.button :submit, t('sign_up'), { class: 'btn' }
  .horiz-line-thick.hidden-desktop.hidden-tablet
