!!! 5
%html{:lang => "en"}
  %head
    %body
      %h1
        This is an invitation from Qaja Women.
      %p
        You've been invited by #{@invitation.post_creator_fullname} as a collaborator of #{ @invitation.post_title} in Qajar Women.
      - if @invitation.message
        = @invitation.message
      %p
        Please visit and sign up at 
        = link_to 'Qajar Women Sign Up', "http://www.qajarwomen.org/users/sign_up/#{@invitation.token}"
