!!! 5
%html{:lang => "en"}
  %head
    %body
      Hi #{@invitation.recipient_name || @invitation.recipient_email},
      %p You've been invited to Women's Worlds in Qajar Iran by #{@invitation.post_creator_fullname} to collaborate on researching "#{@invitation.post_title}".
      - if @invitation.message
        = @invitation.message
      %p
        Please visit and sign up at
        = link_to 'the WWQI Platform.', "#{new_user_registration_url}/#{@invitation.token}"

