.items-index#new-contribution
  %h4= "Edit #{resource.type}"
  .item-image
    .submission-copy
      %p= "Your #{resource.type.downcase} for: "
      %h3 #{resource.item.name}
    = image_tag resource.item.thumbnail, { class: 'img-polaroid' }

= simple_form_for resource do |f|
  = f.input :details, label: resource.type, :input_html => { :class => 'wysihtml5' }, placeholder: "Type your #{resource.type.downcase}..."
  .file-upload
    %h3 Additional Documents
    = f.simple_fields_for :uploads do |upload|
      = render 'partials/upload_fields', f: upload
    .links-add
      .icon-plus-circle
      = link_to_add_association 'Add Upload', f, :uploads, class: 'add-file', partial: 'partials/upload_fields'
  .submit-button
    =f.button :submit, "Save changes", class: 'submit-button', id: 'thread-submit-button'
