.items-index
  .intro.contributions-intro
    %h4 Help us enrich the WWQI archives by contributing information to the project.

    %p There are numerous ways you can contribute.

    %ul.thread-type.btn-group.contributions-nav
      %li{class: "btn #{'active' if params[:type] == "Transcription"} pull-left"}
        = link_to 'Transcribe a document', contributions_path(type: 'Transcription')
      %li{class: "btn #{'active' if params[:type] == 'Translation'} pull-left"}
        = link_to 'Translate a document', contributions_path(type: 'Translation')
      %li{class: "btn #{'active' if params[:type] == 'Biography'} pull-left"}
        = link_to 'Write a biography', contributions_path(type: 'Biography')
      %li.btn.pull-left
        = link_to 'Submit a correction', new_correction_path
  #contributions-content
    .contribution-list-title
      %h3= "Items in need of #{params[:type]}"
    #contribution-list
      %p.feed-intro= t("contributions.#{params[:type].downcase}.intro") 
      %ul.items#selected-items
        - unless @requests.empty?
          - @requests.each do |r|
            %li
              .item-image.pull-left
                = image_tag r.item.thumbnail ||= 'flag.png'
              .item-content.pull-left
                .item-title
                  = r.title
              .transcribe.btn.pull-right
                = link_to t("contributions.#{params[:type].downcase}.button"), new_contribution_path(type: params[:type], item: r.item)
        -else
          %p= "No items in need of #{params[:type]}"
        = link_to "Add New", new_contribution_path(type: params[:type]), class: 'btn pull-right'
    .transcription-subnav.pull-left
      %a.show-more-items{href: '#', id: 'show-more-items'}
        .icon-plus-circle#items-icon
        %span Show more documents
    .contribution-list-title
      %h3= "Recently contributed #{params[:type].pluralize}"
    #contribution-feed
      %p.feed-intro= "Here are some recent #{params[:type].pluralize} contributed by the WWQI users:"
      %ul.items#recent-contributions
        - unless @contributions.empty?
          - @contributions.each do |c|
            %li
              .item-image.pull-left
                = c.image
              .item-content.pull-left
                .item-header
                  = c.header
                .item-title
                  = link_to c.title, contribution_path(c)
                .item-comments
                  = c.comments_size
                %p.bullet &bull;
                .item-created
                  = c.created_ago
                - if user_signed_in?
                  .item-follow-btn{ style:  "margin-top: -10px;" }
                    - following = current_user.following?(c.object)
                    = link_to following ? 'Unfollow' : 'Follow', '#', :class => ['btn', 'btn-primary', following && 'followed'], :data => { followable_id: c.id, followable_type: c.model.class.to_s.downcase, follow_id: following.try(:id) } 
        - else
          %p No recent contributions
    .transcription-subnav
      %a.show-more-contributions{href: '#', id: 'show-more-contributions'}
        .icon-plus-circle#recent-contributions-icon
        = "Show more #{params[:type].downcase.pluralize}"
:coffeescript
  $ ->
    # Default number of items and contributions to show
    visible_item = 2
    visible_contribution = 2

    # Set the maximum number of the items and contributions
    item_max = $('#selected-items').find('li').length
    contribution_max = $('#recent-contributions').find('li').length

    # Hide all items and contributions on the page and
    # show the default number of items and contributions
    $('.items').each -> 
      $(this).find('li').hide()
      $(this).find('li').slice(0, visible_item).show()

    # Show two more items when 'Show more' link is clicked
    $('#show-more-items').click (e) ->
      e.preventDefault()
      visible_item+=2
      if (visible_item > item_max)
        visible_item = item_max
      $('#selected-items').find('li').slice(0, visible_item).show()

    # Show two more contributions when 'Show more' link is clicked
    $('#show-more-contributions').click (e) ->
      e.preventDefault()
      visible_contribution+=2
      if (visible_contributions > contribution_max)
        visible_contributions = contribution_max
      $('#recent-contributions').find('li').slice(0, visible_contribution).show()
