.content
  #items-index.span12
    .intro 
      %h2 Contributions
      %p Help us enrich the WWQI archives by contributing information to the project. There are numerous ways you can contribute.

      %ul.thread-type.btn-group
        %li.btn.active
          = link_to 'Transcribe a document'
        %li.btn
          = link_to 'Translate a document'
        %li.btn
          = link_to 'Write a biography'
        %li.btn
          = link_to 'Submit a correction'
    #contributions-content
      #contribution-list
        %h4 Items in need of transcription
        %p.feed-intro Do you have experience translating from Persian to English? If so, help us translate documents from our archives. Here are some suggested items that need a translation:
        %ul.items
          %li
            .item-image.pull-left
            .item-content.pull-left
              .item-title Publication permit for Zaban-i zanan, 4 March 1944 
            .transcribe.btn.pull-right
              = link_to 'Transcribe'
          %li
            .item-image.pull-left
            .item-content.pull-left
              .item-title Lists of jewelry and kitchen items
            .transcribe.btn.pull-right
              = link_to 'Transcribe'
        .transcription-subnav
          %ul
            %li.pull-left
              %a{href: '#'}
                .icon-plus-circled 
                Show more documents
            %li.pull-right
              %a{href: '#'} 
                .icon-left
                Transcribe a different document       
      #contribution-feed
        %h4 Recently contributed transcriptions
        %p.feed-intro Here are some recent transcriptions contributed by the WWQI users:
        %ul.items
          %li
            .item-image.pull-left
            .item-content.pull-left
              .item-header
                Maryam contributed a transcription for
              .item-title
                School diplomas of Houri Mostofi Moghadam
              .item-comments
                %p 2 comments
              %p.bullet &bull;
              .item-created
                %p 2 weeks ago
          %li
            .item-image.pull-left
            .item-content.pull-left
              .item-header
                Maryam contributed a transcription for
              .item-title
                Kanun-i Banuvan Cultural Services Cooperative, Articles of Association, 1964
              .item-comments
                %p 5 comments
              %p.bullet &bull;
              .item-created
                %p Last month
