#new-contribution
  .row{ style: "border-bottom: 1px solid #a8a8a8;"}
    %h2= "New #{resource.type}"
    %h3= "You are submitting a  #{resource.type.downcase} for #{resource.item_relation.name}"
  .row
    %br/
    %br/
    .item-group.span3
      .item-image.pull-left
        %br/
        %br/
        %br/
        = image_tag resource.item_relation.thumbnail, {class: "img-polaroid"}
    .span6
      = simple_form_for resource, url: contributions_path(type: resource.type) do |f|
        = f.simple_fields_for :item_relation do |i|
          = i.input :url, as: :hidden, input_html: { value: resource.item_relation.url}
          = i.input :name, as: :hidden, input_html: { value: resource.item_relation.name }
          = i.input :thumbnail, as: :hidden, input_html: { value: resource.item_relation.thumbnail }
          = i.input :accession_no, as: :hidden, input_html: { value: resource.item_relation.accession_no }
          = i.input :search, as: :hidden, input_html: { value: resource.item_relation.search }
        = f.input :details, as: :text, label: false, placeholder: "type your #{resource.type.downcase} here", input_html: { class: 'wysihtml5', rows: 10, "style" => "width: 95%" }
        = f.submit "Submit #{resource.type}", class: 'btn'
