.show
  .item-show.span8.pull-left
    .show-intro
      .item-image.pull-left
        = link_to "#{WWQI_SITE}#{resource.item.url}", :target => '_blank' do
          = image_tag resource.item.thumbnail
      .item-created.pull-left
        = "#{resource.created_ago}, #{resource.header}"
    .item-title
      = link_to resource.title, "#{WWQI_SITE}#{resource.item.url}", :target => '_blank'
    .item-details
      %p= resource.details
  - unless resource.uploads.empty?
    .item-attachments
      %h3 Attached Documents
      %ul.item-uploads
        - resource.uploads.each do |upload|
          %li.item-upload
            %i.icon-file-alt
            = link_to upload[:content], upload.content_url
  = render 'partials/comments', resource: resource
