.show
  .item-show.span8.pull-left
    .show-intro
      .item-image.pull-left
        = link_to resource.wwqi_url, target: '_blank' do
          = safe_image_tag resource.thumbnail
      .item-created.pull-left
        = "#{resource.created_ago}, #{resource.header}"
    .item-title
      = link_to resource.title, resource.wwqi_url, target: '_blank'
    .item-details
      .wysiwyg
        != resource.details
  - unless resource.uploads.empty?
    .item-attachments
      %h3 Attached Documents
      %ul.item-uploads
        - resource.uploads.each do |upload|
          %li.item-upload
            %i.icon-file-alt
            = link_to upload[:content], upload.content_url
  = render 'partials/comments', resource: resource
