:javascript
  window.search_url = '#{ENV['SEARCH_URL']}' + '/' + '#{ENV['SEARCH_INDEX']}/item/_search';
  
#items
  = semantic_form_for [:admin, @contribution_request] do |f|
    = f.inputs "Request Information" do
      = f.semantic_fields_for :item_relation do |item| 
        .item-group
          - if @contribution_request.item.nil?
            = image_tag 'flag.png'
          - else
            = image_tag @contribution_request.item.thumbnail
          = item.input :search, placeholder: "Search by item name or number"
          = item.input :url, as: :hidden
          = item.input :thumbnail, as: :hidden
          = item.input :accession_no, as: :hidden
          = item.input :name, as: :hidden
      = f.input :details, label: "Request Type", as: :select, collection: ['Transcription', 'Translation', 'Biography']
      = f.input :creator_id, as: :hidden, input_html: { disabled: true, value: current_user.id }
    = f.actions :submit
