#items
  = semantic_form_for [:admin, @contribution_request] do |f|
    = f.inputs "Request Information" do
      = f.semantic_fields_for :item_relation do |item| 
        .item-group
          - if @contribution_request.item.nil?
            = image_tag 'flag.png'
          -else
            = image_tag @contribution_request.item.thumbnail
          = item.input :search, placeholder: "Please type an association number"
          = item.input :url, as: :hidden
          = item.input :thumbnail, as: :hidden
          = item.input :accession_no, as: :hidden
          = item.input :name, as: :hidden
      = f.input :details, label: "Request Type", as: :select, collection: ['Transcription', 'Translation', 'Biography']
      = f.input :creator_id, as: :hidden, input_html: { disabled: true, value: current_user.id }
    = f.actions :submit

:scss
  .ui-autocomplete {
    border: 1px solid rgba(0, 0, 0, .25);
    max-height: 500px;
    max-width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: lightgrey;
    padding: .5% 1.5%;
    list-style: none;

    .ui-menu-item {
      border-bottom: 1px dotted rgba(0, 0, 0, .25);
      padding: 3% 0;
      a { 
        color: grey;
        font-size: .8em;
        font-family: "proxima-nova", sans-serif;
        padding: 5px;
        display: block;
        text-decoration: none;
      }
    }
  }
