.row
  .intro
    .intro-header
    .intro
      %h4 
        =  t '.welcome_header'
      %p
        = t '.welcome_description'
  .features-wrapper
    %h3.intro-copy
      = t '.feature_list'
    .features
      .col1
        .feature-image
          #img1
        .feature-copy
          %h3
            = t '.question_discussion_header'
          %p
            = t '.question_discussion_description'
      .col2
        .feature-image
          #img2
        .feature-copy
          %h3
            = t '.research_in_progress_header'
          %p
            = t '.research_in_progress_description'
      .col3
        .feature-image
          #img3
        .feature-copy
          %h3
            = t '.contribution_header'
          %p
            = t '.contribution_description'
    -#.sharing
      -#%p You can decide your level of sharing in all threads and posts.
#sign-in-main-wrapper
  %h3.intro-copy
    = t '.sign_up_to_access'
  #sign-in-main.row
    .forms
      = render '/partials/user_registration', :resource => User.new
      = render '/partials/user_session'
