.row
  .intro.span10
    %h2 Welcome
    %p Welcome to WWQI Research Platform. This space aims to encourage interactive use of the WWQI digital archive, put students and scholars in collaborative conversations, and generate innovative scholarship on the cultural history of the Qajar period focused on lives of women and issues of gender and sexuality.
    -#%p Please note that by creating a Username and Password, you are agreeing to the points spelled out in our User Policy. Please read the User Policy and confirm your acceptance before proceeding. Thank you.
#login-main.row
  .col1.span4.offset2
    = simple_form_for "user", url: user_registration_path do |f|
      %h2 Sign Up
      %p Start using the research platform today.
      = f.input :first_name, wrapper_html: { class: "name" }
      = f.input :last_name, wrapper_html: { class: "name" }
      = f.input :email, input_html: { id: "sign_up_user_email", class: "text-input" }
      = f.input :password, input_html: { id: "sign_up_user_password", class: "text-input" }
      = f.input :password_confirmation, input_html: { class: "text-input" }
      .terms
        %a#legal_terms{href: "#"} Please read and accept the terms and conditions.
        = render "partials/terms_dialog"
        = f.input :terms, as: :boolean, label: false, wrapper_html: { class: "checkbox" }
        %p I accept
      = f.button :submit, "Sign Up", { class: "btn" }
  .col2.span4.offset2
    = simple_form_for "user", url: user_session_path do |f|
      %h2 Log In
      %p Already a member? Log in below.
      = f.input :email, input_html: { class: "text-input" }
      = f.input :password, input_html: { class: "text-input" }
      = f.button :submit, "Log In", { class: "btn" }
#features.row
  .col1.span4
    .feature-image.hidden-phone
      #img1
    .feature-copy
      %h3 Feature 1
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .col2.span4
    .feature-image.hidden-phone
      #img2
    .feature-copy
      %h3 Feature 2
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .col3.span4
    .feature-image.hidden-phone
      #img3
    .feature-copy
      %h3 Feature 3
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
