= link_to 'Latest', collection_url
= link_to 'Followed Threads', collection_url(followed: true)

- collection.each do |post|
  = post.header
  = link_to post.title, post_path(post)
  = post.comments_size
  = post.created_ago

