.content#posts.span11
  = form_tag posts_path, class: "navbar-search pull-left", id: 'post_search', method: :get do |f|
    = search_field_tag :q, params[:q], placeholder: "Search Questions & Discussions", class: "search-query pull-left"
    = submit_tag "Search", { class: "btn" }
  .btn.pull-right
    = link_to 'Start A New Thread', new_post_path
  %ul.thread-type.btn-group
    %li.btn.active
      = link_to 'Latest', collection_url
    %li.btn
      = link_to 'Followed Threads', collection_url(followed: true)
  %ul.posts
    %li
      - collection.each do |post|
        .post-image.pull-left
        .post-content
          .post-header
            = post.header
          .post-title
            = link_to post.title, post_path(post)
          .post-comments
            %p 
              = post.comments_size
          %p &bull; 
          .post-created
            %p
              = post.created_ago
