.content#posts.span11
  %form.navbar-search
    %input.search-query.pull-left
    .btn.pull-right
      = link_to 'Start A New Thread', new_post_path
  %ul.thread-type.btn-group
    %li.btn.active
      = link_to 'Latest', collection_url
    %li.btn
      = link_to 'Followed Threads', collection_url(followed: true)
  %ul.posts
    %li
      - collection.each do |post|
        .post-image.pull-left
        .post-content
          .post-header
            = post.header
          .post-title
            = link_to post.title, post_path(post)
          .post-comments
            = post.comments_size
          %p &bull; 
          .post-created
            = post.created_ago
