.items-index#new-thread
  %h4=t '.header'
= simple_form_for @post do |f|
  .col-1.pull-left
    %label=t '.type'
    .btn-group{"data-toggle" => "buttons-radio", "data-toggle-name" => "post[type]"}
      %button.btn.active{"data-toggle" => "button", :value => "Question"}=t '.question'
      %button.btn{"data-toggle" => "button", :value => "Discussion"}=t '.discussion'
    = f.input :type, as: :hidden, input_html: { value: 'Question' }
    = f.input :title, :label_html =>  { id: 'title' }
    = f.input :details, :input_html => { :class => 'wysihtml5' }
  .col-2.pull-left
    .related-items
      %label=t '.is_related_items'
      .btn-group.items{"data-toggle" => "buttons-radio", "data-toggle-name"=> "post[item_related]"}
        %button.btn{"data-toggle" => "button", :value => "true", "name" => "item_related"}=t '.yes'
        %button.btn{"data-toggle" => "button", :value => "false", "name" => "item_related"}=t '.no'
      = f.input :item_related, as: :hidden
      #items
        .expand
          %p=t '.search'
          = f.error :item_relations
          = f.simple_fields_for :item_relations do |item|
            = render 'partials/item_fields', :f => item
          .links-add
            .icon-plus-circle
            = link_to_add_association t('.add_item_button'), f, :item_relations, partial: 'partials/item_fields'
    .tag-list
      %label= t('simple_form.labels.post.tag_list')
      .tags
        = f.input :tag_list
      -#%span.hint Use tags to describe the people, places, or subjects related to this thread. 
    .invite-collaborators
      %label=t '.collaborator_header'
      .btn-group.collaborators{"data-toggle" => "buttons-radio", "data-toggle-name" => "post[private]"}
        %button.btn{"data-toggle" => "button", :value => "true"}=t '.people_i_choose'
        %button.btn{"data-toggle" => "button", :value => "false"}=t '.anyone'
      = f.input :private, as: :hidden
      #collaborators
        .expand
          %p=t '.enter_name'
          = f.error :collaborators
          = f.simple_fields_for :collaborators do |collaborator|
            = render 'partials/collaborator_fields', :f => collaborator
          .links-add
            .icon-plus-circle
            = link_to_add_association t('.collaborator_button'), f, :collaborators, partial: 'partials/collaborator_fields'

        #invitation
          = f.simple_fields_for :invitations do |invitation|
            = render 'invitation_fields', :f => invitation
          .links
            = link_to_add_association t('.invitation_button'), f, :invitations, style: "display: none"
            %a.btn{:href => '#add_invitation', 'data-toggle' => 'modal' }=t '.invitation_button'
    .file-upload
      %label=t '.upload_header'
      = f.simple_fields_for :uploads do |upload|
        = render 'partials/upload_fields', f: upload
      .links-add
        .icon-plus-circle
        = link_to_add_association t('.upload_button'), f, :uploads, class: 'add-file', partial: 'partials/upload_fields'

  .submit-button
    = f.button :submit, :label => t('.post_thread_button'), :value => 'Submit', id:'thread-submit-button', class: 'submit-button'

  #add_invitation.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "NewInvitationLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} x
      %h3#NewInvitationLabel=t '.invitation_form_title'
    .modal-body
      %form
        %fieldset
          %label{for: "recipient_name"}=t '.recipient_name'
          %input#modal_recipient_name{type:'text'}
          %label{for: "recipient_email"}=t '.recipient_email'
          %input#modal_recipient_email{type: 'email', required: ''}
          %label{for: "message"}=t '.invitation_message'
          %textarea#modal_message{placeholder: 'Please type your message...'} 
    .modal-footer
      %button.btn#create_invitation Invite
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}=t '.cancel'
:coffeescript
  $ ->
    -# This javascript is for handling the url parameter from qajar women site. 
    accession_no_params = window.location.search.match(/(accession_no=([^&]+))/)
    type_params = window.location.search.match(/type=(discussion|question)/)

    if type_params?
      type = type_params[1]

      if accession_no_params?
        accession_no = accession_no_params[2]

      if type == 'discussion'
        $('button[value="Discussion"]').trigger('click')
      $('button[value="true"][name="item_related"]').trigger('click')
      $('#items').find('input[id$="_search"]').autocomplete('search', accession_no)
      $('#items').find('input[id$="_search"]').on('autocompleteopen', (event, ui) -> 
        $(".ui-menu-item:first").trigger('click'))
