.show
  .item-show.span8.pull-left
    .show-intro
      .item-image.pull-left
      .item-created.pull-left
        = "#{resource.created_ago}, #{resource.header}"
    .item-title
      = resource.title
    .item-details
      %p
        != resource.details
    .item-tags    
      = "tags: #{resource.tag_list}"
    .item-uploads
      - resource.uploads.each do |u|
        = u[:content]
  .side-box.span3.pull-right
    %h3 This post is related to
    %ul
      %li
        .image.pull-left
        .caption.pull-left
          %p Dawlatabadi's postcard from Paris
      %li
        .image.pull-left
        .caption.pull-left
          %p Dawlatabadi's postcard from Paris
  = render 'partials/comments', resource: resource 
