.show
  .item-show.span8.pull-left
    .show-intro
      .item-image.pull-left
      .item-created.pull-left
        = "#{resource.created_ago}, #{resource.header}"
    .item-title
      = resource.title
    .item-details
      .wysiwyg
        != resource.details
    .item-tags
      - unless resource.tag_list.empty?
        = "tags: #{resource.tag_list}"
    .item-uploads
      - resource.uploads.each do |u|
        = u[:content]
  - unless resource.items.empty?
    .side-box.span3.pull-right
      %h3 This post is related to
      %ul
        - resource.items.each do |item|
          %li
            .image.pull-left
              = image_tag item.thumbnail
            .caption.pull-left
              %p
                = link_to item.name, "#{WWQI_SITE}#{item.url}", :target => '_blank'

  = render 'partials/comments', resource: resource
