.show
  .item-show.pull-left
    .show-intro
      .item-image.pull-left
        =image_tag avatar_url(resource.creator)
      .item-created.pull-left
        %p
          = "#{resource.created_ago}, #{resource.header}"
    .item-title
      = resource.title
    .item-details
      .wysiwyg
        != resource.details
    .item-tags
      - unless resource.tag_list.empty?
        = "tags: #{resource.tag_list}"
    .item-attachments
      - unless resource.uploads.empty?
        %h4 Attachments:
        %ul.item-uploads
          - resource.uploads.each do |upload|
            %li.item-upload
              %i.icon-file-alt
              = link_to upload[:content], upload.content_url

  - unless resource.items.empty?
    .side-box.span3.pull-right
      %h3 This post is related to
      %ul
        - resource.items.each do |item|
          - next unless item.url.present? && item.thumbnail.present?
          %li
            .image.pull-left
              = link_to "#{WWQI_SITE}#{item.url}", :target => '_blank' do
                = image_tag item.thumbnail
            .caption.pull-left
              %p
                = link_to item.name, "#{WWQI_SITE}#{item.url}", :target => '_blank'

  = render 'partials/comments', resource: resource
