.content
  #item-show.span8.pull-left
    .show-intro
      .item-image.pull-left
      .item-created.pull-left
        = "#{resource.created_ago}, #{resource.header}"
    .item-title
      = resource.title
    .item-details
      %p
        = resource.details
    .item-tags    
      = "tags: #{resource.tag_list}"
    .item-uploads
      - resource.uploads.each do |u|
        = u[:content]
  #side-box.span4.pull-right
    %h3 This post is related to
    %ul
      %li
        .image.pull-left
        .caption.pull-left
          %p Dawlatabadi's postcard from Paris
      %li
        .image.pull-left
        .caption.pull-left
          %p Dawlatabadi's postcard from Paris
  #comments.span12
    - resource.comments.each do |c|
      .item-image.pull-left
      .item-content.pull-left
        .item-created.full-width
          = "#{c.header} #{c.created_ago}"
        .item-details
          %p
            = c.details
  #comment-box.span12
    .item-image.pull-left
    .item-content.pull-left
      = simple_form_for Comment.new, url: post_comments_path(resource) do |f|
        = f.input :details, label: "Submit your answer", input_html: {cols: 115}
        = f.submit comment_btn_text(resource), { class: "btn pull-right" }
