.content.row-fluid
  #posts-show.span8
    .show-intro
      .post-image.pull-left
      .post-created.pull-left
        = "#{resource.created_ago}, #{resource.header}"
    .post-title
      = resource.title
    .post-details
      %p
        = resource.details
    .post-tags    
      = "tags: #{resource.tag_list}"
  #side-box.span4
    %p test
.content.row-fluid
  #posts-show.span12
    .comments
      .post-image.pull-left
      .post-content.pull-left
        - resource.comments.each do |c|
          .post-created.full-width
            = "#{c.header} #{c.created_ago}"
          .post-details
            %p
              = c.details
  #posts-show.span12
    .comments
      .post-image.pull-left
      .post-content.pull-left
        = simple_form_for Comment.new, url: post_comments_path(resource) do |f|
          = f.input :details, label: "Submit your answer", input_html: {cols: 115}
          = f.submit comment_btn_text(resource)
