.items-index#new-correction
  %h4 Submit a correction
#items.visible
  = simple_form_for resource do |f|
    = f.simple_fields_for :item_relation do |item|
      .item-group
        .input
          = item.input :search, label: 'Search by item name or item number', placeholder: 'e.g. tin or 1266A16'
        = item.input :url, :as => :hidden
        = item.input :thumbnail, :as => :hidden
        = item.input :accession_no, :as => :hidden
        = item.input :name, :as => :hidden
        .item-image.pull-left
    = f.input :details, label: 'Correction', :input_html => { :class => 'wysihtml5' }
    .submit-button
      = f.submit 'Submit Correction', class: 'btn', id: 'correction-btn'

= render 'partials/item_autocomplete'
