.show
  .item-show.span8.pull-left
    .show-intro
      .item-image.pull-left
      .item-created.pull-left
        = "#{resource.created_ago}, #{resource.header}"
    .item-title
      = resource.title
    .item-details
      %p
        = resource.details