#items-index.row
  = render 'profile_header'
      
  %ul.items
    - @resources.each do |resource|
      %li
        .item-image.pull-left
          =image_tag avatar_url(resource.creator)
        .item-content
          .item-header
            = resource.header
          .item-title
            = resource.title_link
          .item-comments
            %p 
              = resource.comments_size
          %p.bullet &bull; 
          .item-created
            %p
              = resource.created_ago
