.items-index.profile
  = render 'profile_header'
      
  %ul.items
    - @resources.each do |resource|
      %li
        .item-content
          .item-header
            = resource.header
          .item-title
            = resource.title_link
          .item-comments
            %p 
              = resource.comments_size
          %p.bullet &bull; 
          .item-created
            %p
              = resource.created_ago
        .item-edit-btn
          = link_to 'Edit', choose_edit_path(resource), :class => 'btn btn-primary' if resource.creator == current_user
