!!! 5
%html{:lang => "en"}
  %head
    %title WWQI Platform
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/bwh1aah.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #root
      #header-wrapper.row-fluid
        .span12
          #header.span8.offset2
            #logo-container.span2
              = link_to root_path do
                #logo-img
            #title.span5 
              %a{:href => "#"}
                %h1 Women&rsquo;s Worlds 
                %h2 in Qajar Iran
            #login-nav.span5
              %ul.pull-right
                %li
                  = link_to 'http://www.qajarwomen.org/en/index.html' do
                    %h2 WWQI Archive
                %li#bullet 
                  %h2 &#124;
                - unless user_signed_in?
                  %li 
                    = link_to new_user_registration_path do
                      %h2 Sign Up
                  %li 
                    = link_to new_user_session_path do
                      %h2 Login
                - else
                  %li
                    = link_to destroy_user_session_path, method: :delete do
                      %h2 Logout
      #main-nav-wrapper.row-fluid
        .span12
          #main-nav.span8.offset2
            #nav.span8.offset2.pull-left
              %ul.nav
                %li
                  = link_to 'Questions & Discussions', posts_path
                %li
                  %a{:href => "#"} Research-in-Progress
                %li
                  %a{:href => "#"} Contributions
            #notifications-wrapper.span2.pull-right
              #dropdown.btn-group.pull-right
                %button.btn.btn-mini 
                  %p Me
                %button.btn.btn-mini.dropdown-toggle{:"data-toggle" => "dropdown"}
                  %span
                    %a.caret
                %ul.dropdown-menu
                  %li 
                    %p Alice commented on your question
                  %li 
                    %p John posted in your discussion
              #notifications.pull-right
                %a.icon-notification
                .notification-count
                  %p 2
        .flash
          = flash_messages
      #main-content.row-fluid
        .span12
          .content-bg.span8.offset2
            = yield
      #root_footer
    = render "partials/footer"
