!!! 5
%html{:lang => "en"}
  %head
    %title WWQI Platform
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/bwh1aah.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #root
      #header-wrapper.row-fluid
        .span12
          #header.span8.offset2
            #logo-container.span2
              %a{:href => "#"}
                #logo-img
            #title.span5 
              %a{:href => "#"}
                %h1 Women&rsquo;s Worlds 
                %h2 in Qajar Iran
            #login-nav.span5
              %ul.pull-right
                %li
                  %a{:href => "#"} 
                    %h2 WWQI Archive
                %li#bullet 
                  %h2 &#124;
                %li 
                  %a{:href => "#"} 
                    %h2 Sign Up
                %li 
                  %a{:href => "#"} 
                    %h2 Login
      #main-nav-wrapper.row-fluid
        .span12
          #main-nav.span8.offset2
            #nav.span10.offset2
              %ul.nav
                %li
                  = link_to 'Questions & Discussions', posts_path
                %li
                  %a{:href => "#"} Research-in-Progress
                %li
                  %a{:href => "#"} Contributions
        .flash
          = flash_messages
      #main-content.row-fluid
        .span12
          .content-bg.span8.offset2
            = yield
      #root_footer
    = render "partials/footer"
