!!! 5
%html{:lang => "en"}
  %head
    %title WWQI Platform
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/bwh1aah.js", :type => "text/javascript"}
    - if AJAX_STUB_MODE
      = javascript_include_tag 'jquery.mockjax.js'
      = javascript_include_tag 'wwqi-search-mock'
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #root
      #header-wrapper
        .container
          #header.row
            #logo-container.span2.pull-left
              = link_to root_path do
                #logo-img
            #title.span5.pull-left
              = link_to root_path do
                %h1 Women&rsquo;s Worlds
                %h2 in Qajar Iran
            #login-nav.pull-right
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.bar
                %span.bar
                %span.bar
              .nav-collapse.collapse.nav
                %ul.pull-right
                  %li
                    = link_to 'http://www.qajarwomen.org/en/index.html' do
                      %h2 WWQI Archive
                  %li#bullet.hidden-phone.hidden-tablet
                    %h2 &#124;
                  - unless user_signed_in?
                    %li
                      = link_to new_user_registration_path do
                        %h2 Sign Up
                    %li
                      = link_to new_user_session_path do
                        %h2 Login
                  - else
                    %li
                      = link_to destroy_user_session_path, method: :delete do
                        %h2 Logout
      #main-nav-wrapper
        .container
          .row
            #main-nav
              #nav.span9.offset2.pull-left
                %ul.nav
                  %li
                    = link_to 'Questions & Discussions', posts_path
                  %li
                    = link_to 'Research-in-Progress', researches_path
                  %li
                    = link_to 'Contributions', contributions_path
              - if user_signed_in?
                #notifications-wrapper.pull-right
                  = link_to current_user.first_name, me_path, { :class => "pull-right" }
                  .dropdown.pull-right
                    %a.dropdown-toggle.notification-count.pull-right{:"data-toggle" => "dropdown", role: "button"}= current_user.notifications.size
                    %ul.dropdown-menu{role: "menu", "aria-labeledby" => "dLabel"}
                      %li.header
                        %p Notifications
                      - if current_user.unread_notifications.present?
                        - current_user.unread_notifications.each do |n|
                          %li
                            %p= n.link
                      - else
                        %li
                          %p None
      #main-content
        .container
          = flash_messages
          .content
            = yield
        #root_footer
      = render "partials/footer"
